/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
html {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  background: transparent;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ins {
  background: #ffffff;
}
body {
  background: #f5f5f5;
  font-size: 14px;
  color: #444;
  font-family:'Roboto',sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
strong, b {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
a:link, a:visited {
  color: #2196f3;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  text-decoration: none;
}
a img {
  border: 0;
  border-width: 0;
  outline: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
video{
  width:100%;
}
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
  font-size: 86%;
}
sub {
  top: .4em;
}
small {
  font-size: 86%;
}
kbd {
  display: inline-block;
  font-size: 90%;
  color: #2196f3;
}
mark {
  background-color: #ff9800;
}
p, blockquote, pre, table, figure, hr, form, ol, ul, dl {
  margin: 1.5em 0;
}
hr {
  height: 1px;
  border: 0;
  background-color: #9e9e9e;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
}
pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  margin: 0;
}
*:focus {
  outline: 0 !important;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
blockquote {
  position: relative;
  margin: 0 auto;
  padding: 24px 20px 24px 45px;
}
input, button, select, textarea {
  font-size: 100%;
  border:0;
  line-height: normal;
  vertical-align: baseline;
}
textarea {
  display: block;
  box-sizing: border-box;
}
input.placeholder_text, textarea.placeholder_text {
  color: #888888;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder, input.placeholder_text, textarea.placeholder_text {
  color: #444444;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity .5s .5s ease;
  opacity: 0;
}
ul li span {
  position: relative;
  display: block;
  padding: 0;
  margin: .5em 0 .5em 2em;
  text-decoration: none;
}
ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin: 0;
}
ol ol {
  margin: 0 0 0 2em;
}
ol li {
  position: relative;
  display: block;
  padding: 0;
  margin: .5em 0 .5em 2em;
  background: #ffffff;
  text-decoration: none;
}
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  height: 2em;
  width: 2em;
  text-align: center;
}
ul {
  position: relative;
  display: block;
  padding: 0;
  margin: .5em 0 .5em 1.5em;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td, th {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
table td {}
table th {
  background: #2196f3;
  color: #ffffff;
  border-bottom: 0;
  font-weight: 500;
}
table caption {
  padding: 10px;
  border: 0;
}
button, input{
  border-radius:2px;
  padding:7px 10px;
}


/* COMPONENT */

#content-wrapper{
  height:3000px;
}
.wrapper{
  width:1170px;
  margin:0 auto;
}
.floating{
  white-space: nowrap;
  overflow: auto;
}
.floating::-webkit-scrollbar-track {
  border-radius: 2px;
}
.floating::-webkit-scrollbar {
  height:5px;
}
.floating::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}
.btn{
  background:#fff;
  font-weight: 500;
  text-transform: uppercase;
}
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.shadow-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}


/* HEAD AND NAV */

#nav{
  position:fixed;
  width:100%;
  background:#2196F3;
  height:125px;
  z-index:9;
}
.nav1{
  float:none;
  height:70px;

}
.nav2{
  position:relative;
  width:100%;
  background:#fff;
  text-align: center;
  height: 55px;
  line-height: 51px;
}
.nav2 ul{
  list-style: none;
  text-align:center;
  margin:0;
}
.nav2 ul li {
  display: inline-block;
  float: none;
}
.nav2 ul li a{
  padding:0 30px;
  display:block;
  font-size: 15px;
  color:#444;
  border-bottom:4px solid #fff;
  transition: 0.3s;
}
.nav2 ul li a:hover{
  border-bottom:4px solid #E91E63;
}
.nav2 ul li a i{
      float: right;
    line-height: 55px;
    height: 55px;
    font-size: 20px;
    padding-left: 15px;
}
#header-wrapper{
  float:left;
  width:145px;
  margin:25px 0 0 0;
}
#header-wrapper img{
  width:145px;
  height:20px;
}
.nav-toggle {
  position: relative;
  cursor:pointer;
  float:left;
  color:#fff;
  margin:23px 18px 0 0;
}
#search-box{
  position:fixed;
  height:70px;
  width:100%;
  background:#fff;
  z-index:9999;
  visibility: hidden;
  opacity:0;
  transition: opacity 0.3s;
}
#search-box.active{
  visibility: visible;
  opacity:1;
  transition: opacity 0.3s;
}
.search-toggle{
  float:right;
}
.search-toggle i{
  color:#fff;
  cursor:pointer;
  margin:23px 0 0 0;
}
#search-box form{
  margin:0;
  padding:0;
  height:100%;
}
#search-box .search-back i{
  margin-top:23px;
  cursor: pointer;
}
#search-box #search-text {
  height: 70px;
  width: 65%;
  position: absolute;
}
#search-box button{
  background:transparent;
  float:right;
  margin:0;
  padding:0;
}
#search-box button i{
  margin:23px 0 0 0;
}

/* SIDE MENU */

#sidenav{
  vertical-align: top;
  position: fixed;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1035;
}
#sidenav.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#sidenav .nav-toggle{
  float:right;
  color:#212121;
}
#sidenav .nav-header{
  position: relative;
  background:#2196F3;
  height: 157.5px;
  margin-bottom: 8px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#sidenav .nav-image img {
  width: 60px;
  height: 60px;
  margin: 40px 0 0 110px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#sidenav .nav-brand {
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  padding:20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#sidenav .main-nav{
  margin: 0;
  padding: 0;
}
#sidenav .main-nav li, .dropdown-menu li a{
  transition: ease 0.3s;
}
#sidenav .main-nav li:hover{
  background:#e0e0e0;
}
#sidenav .main-nav li a{
  position: relative;
  cursor: pointer;
  color:#444;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}
#sidenav .main-nav .divider{
  position: relative;
  display: block;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
  background-color: #bdbdbd;
  height:1px;
}
#sidenav .main-nav .nav-icon{
    display: inline-block;
    margin:0 15px 0 5px;
    text-align: left;
    font-size: 14px;
    color: #444;
    vertical-align: middle;
}
li.active{
  background:#e0e0e0;
}
ul.dropdown-menu{
  margin:0.5em 0px .5em 0;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu.active {
  display: block;
}
.dropdown-menu li a:hover{
  background:#bdbdbd;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#sidenav::-webkit-scrollbar-track {
  border-radius: 2px;
}
#sidenav::-webkit-scrollbar {
  width: 5px;
}
#sidenav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}
.nav-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.nav-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.spacer{
  background:#f5f5f5;
  height:120px;
}
/* POST */

.post{
  background:#fff;
}
.post-title a{
  color: #444;
  display: block;
  line-height: normal;
}
.post-thumb img{
  width:100%;
}

/* SIDEBAR */

#sidebar{
  height:1000px;
}
.populer,
.subscribe,
.commentwidget{
  border-radius:3px;
}
.populer{
  background:#fff;
}
.subscribe{
  background:#E91E63;
  margin:20px 0;
}
.commentwidget{
  background:#2196F3;
}
.commentwidget ul{
  width:500%;
}
.sidebar-title {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 25px;
    text-transform: uppercase;
}
.st-light{
    border-bottom: 1px solid #eaeaea;
    color: #2196F3;
}
.st-pink{
  color:#FCE4EC;
}
.st-blue{
  color:#E3F2FD;
}
.st-light2{
  color:#fff;
  padding:0 0 10px 0;
}
.news-box {
    border-bottom: 1px solid #f7f7f7;
    padding: 20px 20px 40px 20px;
}
.news-box .image {
    float: left;
    overflow: hidden;
}
.news-box .image > img {
    height: 50px;
    width: 50px;
}
.news-box .news-detail {
    overflow: hidden;
    padding-left: 10px;
}
.news-box .news-category {
    line-height: 6px;
}
.news-box .news-category > a {
    color: #ccc;
    font-size: 11px;
    line-height: normal;
}
.news-box .news-title > a {
    font-size: 14px;
    line-height: 17px;
    padding-top: 5px;
    margin-bottom: 0;
    color:#444;
}
.subscontent{
  padding:20px;
  text-align: center;
}
.subscontent p{
  color:#fff;
}
.cmcontent::-webkit-scrollbar-track {
  border-radius: 2px;
}
.cmcontent::-webkit-scrollbar {
  height:5px;
}
.cmcontent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.commentwidget .cmcontent{
  white-space: nowrap;
  overflow: auto;
  padding-bottom: 20px;
}
.commentwidget ul li{
  text-align: center;
  width:20%;
  float:left;
  white-space: normal;
}
.commentwidget a{
  color:#fff;
  font-weight: 500;
}
.commentwidget li span{
  color:#E3F2FD;
  margin:.5em 0 .5em 0;
}
.avatarRound{
  border-radius:50%;
}


/* FOOTER */

.footerwidget{
  background:#64B5F6;
  padding-top:20px;
  height:700px;
}
.footer-logo,.footer-menu1,.footer-menu2,.footer-sosmed{
  float:left;
}
.footer-logo{
  width:31.33%;
  margin:1%;
}
.footer-menu1,.footer-menu2{
  width:14.67%;
  margin:1%;
  word-wrap: break-word;
}
.footer-menu1 ul,.footer-menu2 ul{
  margin:.5em 0 .5em 0;
}
.footer-menu1 li a,.footer-menu2 li a{
  color:#E3F2FD;
  line-height: 2;
}
.footer-sosmed{
  width:31.33%;
  margin:1%;
}
.credit{
  background:#2196F3;
  padding:20px;
  text-align: center;
  color:#E3F2FD;
}
.credit a{
  color:#E3F2FD; 
}


/* DARK MODE */

body.modemalam,
body.modemalam #nav,
body.modemalam #search-box,
body.modemalam #search-text,
body.modemalam #sidenav,
body.modemalam .subscribe-input,
body.modemalam .btn,
body.modemalam .dropdown-menu li a:hover,
body.modemalam table th,
body.modemalam .credit{
  background:#333;
}
body.modemalam .nav2,
body.modemalam #sidenav .nav-header,
body.modemalam #sidenav .main-nav li:hover,
body.modemalam #sidenav li.active,
body.modemalam .post,
body.modemalam ol li,
body.modemalam .comment-nav,
body.modemalam .populer,
body.modemalam .subscribe,
body.modemalam .commentwidget,
body.modemalam .footerwidget{
  background:#424242;
}
body.modemalam .nav-toggle,
body.modemalam .search-toggle i,
body.modemalam #search-box #search-text,
body.modemalam #search-box .search-back i,
body.modemalam #search-box button i,
body.modemalam .nav2 ul li a,
body.modemalam #sidenav .nav-toggle,
body.modemalam #sidenav .nav-brand,
body.modemalam #sidenav .main-nav li a,
body.modemalam #sidenav .main-nav .nav-icon,
body.modemalam .breadcrumbs a,
body.modemalam .breadcrumbs i,
body.modemalam .post-body,
body.modemalam td,
body.modemalam .post-labels-tag,
body.modemalam .post-title a,
body.modemalam .post-desk p,
body.modemalam .st-light,
body.modemalam .st-pink,
body.modemalam .st-blue,
body.modemalam .st-light2,
body.modemalam .news-box .news-title > a,
body.modemalam .subscontent p,
body.modemalam .subscribe-input,
body.modemalam .btn,
body.modemalam .commentwidget a,
body.modemalam .commentwidget li span,
body.modemalam .footer-menu1 li a,
body.modemalam .footer-menu2 li a,
body.modemalam .credit,
body.modemalam .credit a{
  color:#adadad;
}
body.modemalam .nav2 ul li a,
body.modemalam .blogger-bar,
body.modemalam .disqus-bar,
body.modemalam .facebook-bar{
  border-color:#424242;
}
body.modemalam .nav2 ul li a:hover,
body.modemalam .blogger-bar:hover,
body.modemalam .disqus-bar:hover,
body.modemalam .facebook-bar:hover{
  border-color:#E91E63;
}
body.modemalam .st-light,
body.modemalam .news-box{
  border-color:#333;
}
/* MEDIA QUERIES */

@media screen and (max-width:1210px){
  .wrapper{
    width:100%;
    padding:0 20px;
  }
  #post .wrapper,
  #sidebar .wrapper{
    padding:0;
  }
  .foto-jhon{
    width:41.667%;
  }
  .about-jhon{
    width:58.333%;
  }
}
@media screen and (max-width: 980px){
  .nav2 .wrapper{
    padding:0;
  }
  .footerwidget{
    height:700px;
  }
  .footer-logo{
    width:100%;
    margin:1% 0;
    text-align: center
  }
  .footer-sosmed{
    width:64.66%;
  }
}
@media screen and (max-width:800px){
  #nav,
  #search-box,
  #search-box #search-text,
  .spacer{
    height:60px;
  }
  #header-wrapper{
    margin:20px 0 0 0;
  }
  .nav2{
    display:none;
  }
  .nav-toggle{
    margin:18px 18px 0 0
  }
  .search-toggle i,
  #search-box .search-back i,
  #search-box button i{
    margin:18px 0 0 0;
  }
  .subscribe .btn{
    margin:20px;
  }
  .footerwidget{
    height:1000px;
  }
  .subscribe-input{
    width:100%;
  }
}
@media screen and (max-width:640px){
  .footerwidget{
    height:1300px;
  }
  .footer-menu1,.footer-menu2{
    width:48%;
  }
  .footer-sosmed{
    width:100%;
    margin:1% 0;
  }
}
